*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-size: 16px;
  color: #fff;
}
.header{
  background-image: url("../images/redes/monos.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 35vh;
}
.middle-logo{
  width: 30%;
  margin: 0 auto;
  position: absolute;
  transform: translate(120%, -55%);
  z-index: 12;
  img{
    border-radius: 50%;
    background: #fff;
    padding: 8px;
  }
}
.main-body{
  background-image: url("../images/redes/main.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -23px;
  height: 75vh;
  z-index: 10;
  .name{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 70px 10px 20px 10px;
    text-align: center;
  }
}
.rrss{
  background: #fff;
  width: 90%;
  border-radius: 15px;
  padding: 1em;
  margin: 0 auto;
  ul{
    list-style-type: none;
  }
  li{
    padding: 7px 0;
    position: relative;
    &:before {
      content : "";
      position: absolute;
      left    : 0;
      top  : 0px;
      height  : 1px;
      width   : 85%;  /* percentage of the element width*/
      border-bottom:2px solid rgba(153, 153, 153, 0.5);
      margin-top:2.55em; /*move the border below the text*/
    }
  }
  i{
    background:#0A2390;
    padding: 7px;
    border-radius: 50%;
  }
  a{
    color:#000000;
  }
}