* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  color: #fff;
}

.header {
  height: 35vh;
}

.middle-logo {
  width: 35%;
  margin: 0 auto;
  position: absolute;
  transform: translate(93%, -74%); //-110%
  z-index: 12;

  img {
    border-radius: 50%;
    background: #fff;
    padding: 8px;
  }
}

.main-body {
  height: auto;

  .absolute {
    position: absolute;
    transform: translateY(-13%); //-16%
    height: 100%;
  }

  .name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 45px 10px 10px 10px;
    text-align: center;
  }
}

.rrss {
  background: #fff;
  width: 90%;
  position: relative;
  border-radius: 15px;
  padding: 1em;
  margin: 0 auto;

  ul {
    list-style-type: none;
  }

  li {
    padding: 7px 0;
    position: relative;
    font-size: 20px;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0px;
      height: 1px;
      width: 85%;
      /* percentage of the element width*/
      border-bottom: 2px solid rgba(153, 153, 153, 0.5);
      margin-top: 2.55em;
      /*move the border below the text*/
    }
  }

  i {
    background: #0A2390;
    padding: 7px;
    border-radius: 50%;
    margin-right: 5px;
  }

  a {
    color: #000000;
  }
}

@media screen and (max-width: 768px) {
  .middle-logo {
    transform: translate(115%, -55%);
    width: 30%;
    z-index: 12;

    img {
      border-radius: 50%;
      background: #fff;
      padding: 8px;
    }
  }

  .main-body {
    height: auto;

    .absolute {
      position: absolute;
      transform: translateY(-5%);
      height: auto;
    }

    .name {
      padding: 70px 10px 10px 10px;
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .header {
    height: auto;
  }

  .middle-logo {
    transform: translate(93%, -45%);
    width: 35%;
    z-index: 12;

    img {
      border-radius: 50%;
      background: #fff;
      padding: 8px;
    }
  }

  .main-body {
    .absolute {
      transform: translateY(-4%);
      height: auto;
    }

    .name {
      padding: 170px 10px 10px 10px;
    }
  }
}