.comentarios {
	background: url("../images/bg/fondo.png") no-repeat 50% 50%;
	background-size: cover;

	.row{
		justify-content: space-evenly;
	}
	h2 {
		background: $bg-reintegros;
		color: #fff;
	}
	h3 {
		font-size: 16px;
		line-height: 22px; 
		font-weight: 700;
	}
	.card{
		border-radius: 10px; 
		border: 1px solid #fff;
		height: 33vh;
		box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
		.card-body{
			padding: 10px 5px;
		}
		.card-title {
			font-weight: 800;
			font-size: 17px;
			color: #009FE3;
			height: 100%;
    	transform: translate(0, 50%);
		}
		.card-text{
			font-size: 14.5px;
			padding: 0 5px;
			height: 45%;
			margin-top: 1rem;
		}
		img{
			margin: 0 5px;
		}
		p {
			font-size: 15px;
			font-weight: 300;
			text-align: justify;
			//letter-spacing: 2px;
		}
		.card-stars{
			text-align: center;
		}
	}
}

@include mobile {
	.comentarios {
		background: none;
	}
	.main-reint {
		background-image: none;

		.barra {
			display: none;
		}
	}
}
