// Organigrama

.titulo-org {
	padding: 10px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;
	color: white;
	transform: skew(15deg);
}

.tituloasis {
	position: relative;
	&::before{
		@include reflejo;
	}
	&::after{
		content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    width: 0;
    height: 0;
    border-top: solid 15px $asistencias;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
	}
	.asistencias {
		background: $asistencia;
		@include titles;
	}
}
.titulomarket {
	position: relative;
	&::before{
		@include reflejo;
	}
	&::after{
		content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    width: 0;
    height: 0;
    border-top: solid 15px $market;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
	}
	.marketing {
		background: $marketing;
		@include titles;
	}
}
.titulorrhh {
	position: relative;
	&::before{
		@include reflejo;
	}
	&::after{
		content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    width: 0;
    height: 0;
    border-top: solid 15px $recursos;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
	}
	&:hover{
		-webkit-animation: flip-scale-up-hor 0.5s linear reverse forwards;
	  animation: flip-scale-up-hor 0.5s linear reverse forwards;
	}
	.rrhh {
		background: $rrhh;
		@include titles;
	}
}
.titulocomer {
	position: relative;
	&::before{
		@include reflejo;
	}
	&::after{
		content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    width: 0;
    height: 0;
    border-top: solid 15px $comercio;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
	}
	.comerciales {
		background: $comerciales;
		@include titles;
	}
}
.subtitlecomer{
	margin-top: 15px;
	&::after {
		@include borderSubtitle;
		border-bottom: 2px solid $comercio;
	}
	.left{
		position: relative;
		&::before{
			@include reflejo;
		}
		background: $comerciales;
		@include subtitles;
	}
	.right{
		position: relative;
		&::before{
			@include reflejo;
		}
		background: $comerciales;
		@include subtitles;
		margin: 0;
	}
}
.tituloadmin {
	position: relative;
	&::before{
		@include reflejo;
	}
	&::after{
		content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    width: 0;
    height: 0;
    border-top: solid 15px $admin;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
	}
	.administracion {
		background: $administracion;
		@include titles;
	}
}
.titulosoporte {
	position: relative;
	&::before{
		@include reflejo;
	}
	&::after{
		content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    width: 0;
    height: 0;
    border-top: solid 15px $web;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
	}
	.soporte {
		background: $soporte;
		@include titles;
	}
}

.head {
	width: 17%;
	margin: 5px auto;
	img {
		align-self: center;
		width: 100%;
		height: auto;
		&:hover{
			-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
		}
	}

	.inner {
		position: relative;
		width: 100%;
	}

	.contenido {
		width: 100%;
		text-align: center; 

		.nombre {
			color: black;
			font-size: 15px;
			font-weight: 500;
		}

		.cargo {
			font-size: .8em;
		}
		p {
			margin-bottom: .4em;
			line-height: 1em;
			margin-top: 10px;
		}
	}
}
.evenly{
	display: flex;
	justify-content: space-evenly;
}
.persona {
	// -webkit-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.4);
	// -moz-box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.4);
	// box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.4);
	// border: 1px solid white;
	// border-radius: 8px;
	//padding: 0.5em .5em;
	width: 12.5%;
	// margin: 0 auto;
	img {
		align-self: center;
		width: 100%;
		height: auto;
		&:hover{
			-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
		}
	}

	.inner {
		position: relative;
	}

	.contenido {
		/*width: 154%;
		padding-left: 10px;*/
		text-align: center;
		/*border-left: 2px solid black;*/

		.nombre {
			color: black;
			font-size: .8em;
			font-weight: 500;
		}

		.cargo {
			font-size: .8em;
		}
		p {
			margin-top: 0px;
			margin-bottom: .4em;
			line-height: 1em;
		}
	}
}

.quienes-intro {
	background: linear-gradient(90deg, rgb(83, 146, 209) 50%, rgb(44, 42, 93) 100%);
	height: 20vh;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
}

@include mobile-xs {
	.persona {
		width: 50% !important;
	}
	#trabajo {
		text-align: left;
	}
	textarea {
		width: 90% !important;
	}
	.w-30 {
		width: 90% !important;
	}
	.w-60 {
		width: 90% !important;
	}
}

@include mobile {
	.persona {
		width: 50% !important;
	}
	#trabajo {
		text-align: left;
	}
	textarea {
		width: 90% !important;
	}
	.w-30 {
		width: 90% !important;
	}
	.w-60 {
		width: 90% !important;
	}
}

/* ----------------------------------------------
 * Generated by Animista on 2023-2-8 12:32:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-scale-up-hor
 * ----------------------------------------
 */
 @-webkit-keyframes flip-scale-up-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
    transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateX(-90deg);
    transform: scale(2.5) rotateX(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-180deg);
    transform: scale(1) rotateX(-180deg);
  }
}
@keyframes flip-scale-up-hor {
  0% {
    -webkit-transform: scale(1) rotateX(0);
    transform: scale(1) rotateX(0);
  }
  50% {
    -webkit-transform: scale(2.5) rotateX(-90deg);
    transform: scale(2.5) rotateX(-90deg);
  }
  100% {
    -webkit-transform: scale(1) rotateX(-180deg);
    transform: scale(1) rotateX(-180deg);
  }
}



/* ----------------------------------------------
 * Generated by Animista on 2023-2-8 12:20:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
