.bg-quienes{
	background-image: url(../images/bg/quienes-intro.webp);
	background-size: cover;
}
.intro-text{
	font-size: 16px;
	text-align: center;
}
.locations{
	display: flex;
	flex-grow: 1;
	justify-content: space-around;
	margin: 1rem 0;
	.maps{
		background: $primary-color;
		padding: 10px 15px;
		border: none;
		border-radius: 7px;
	}
	.pins{
		text-transform: capitalize;
		font-weight: 500;
		color: white;
	}
}
// Organigrama
.titulo-org {
	padding: 10px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;
	color: white;
}

.tituloasis {
	position: relative;
	&::before{
		@include reflejo;
	}
	&::after{
		content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    width: 0;
    height: 0;
    border-top: solid 15px $asistencias;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
	}
	&:hover{
		-webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	  animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	}
	.asistencias {
		background: $asistencia;
		@include titles;
	}
}
.titulomarket {
	position: relative;
	&::before{
		@include reflejo;
	}
	&::after{
		content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    width: 0;
    height: 0;
    border-top: solid 15px $market;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
	}
	&:hover{
		-webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	  animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	}
	.marketing {
		background: $marketing;
		@include titles;
	}
}

.titulorrhh {
	position: relative;
	&::before{
		@include reflejo;
	}
	&::after{
		content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    width: 0;
    height: 0;
    border-top: solid 15px $recursos;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
	}
	&:hover{
		-webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	  animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	}
	.rrhh {
		background: $rrhh;
		@include titles;
	}
}
.titulocomer {
	position: relative;
	&::before{
		@include reflejo;
	}
	&::after{
		content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    width: 0;
    height: 0;
    border-top: solid 15px $comercio;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
	}
	&:hover{
		-webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	  animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	}
	.comerciales {
		background: $comerciales;
		@include titles;
	}
}
.subtitlecomer{
	margin-top: 15px;
	&::after {
		@include borderSubtitle;
		border-bottom: 2px solid $comercio;
	}
	.left{
		position: relative;
		&::before{
			@include reflejo;
		}
		background: $comerciales;
		@include subtitles;
	}
	.right{
		position: relative;
		&::before{
			@include reflejo;
		}
		background: $comerciales;
		@include subtitles;
		margin: 0;
	}
}
.tituloadmin {
	position: relative;
	&::before{
		@include reflejo;
	}
	&::after{
		content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    width: 0;
    height: 0;
    border-top: solid 15px $admin;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
	}
	&:hover{
		-webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	  animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	}
	.administracion {
		background: $administracion;
		@include titles;
	}
}
.titulosoporte {
	position: relative;
	&::before{
		@include reflejo;
	}
	&::after{
		content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    width: 0;
    height: 0;
    border-top: solid 15px $web;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
	}
	&:hover{
		-webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	  animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	}
	.soporte {
		background: $soporte;
		@include titles;
	}
}
.tituloplani {
	position: relative;
	&::before{
		@include reflejo;
	}
	&::after{
		content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    width: 0;
    height: 0;
    border-top: solid 15px $plani;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
	}
	&:hover{
		-webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	  animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	}
	.planificacion {
		background: $planificacion;
		@include titles;
	}
}
// Card Effects
.card {
	border: none;
	background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	transform: rotateY(0deg);
	border-radius: .25rem;
	height: 100%;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.mainflip {
	-webkit-transition: 1s;
	-webkit-transform-style: preserve-3d;
	-ms-transition: 1s;
	-moz-transition: 1s;
	transform: perspective(1000px);
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transition: 1s;
	transform-style: preserve-3d;
	position: relative;
}

.frontside {
	position: relative;
	transform: rotateY(0deg);
	//-ms-transform: rotateY(0deg);
	z-index: 2;
	//margin-bottom: 30px;
	.contenido {
		text-align: center;
		.nombre {
			color: black;
			font-size: .8em;
			font-weight: 500;
		}
		.cargo {
			font-size: .8em;
		}
		p {
			margin-top: 0px;
			margin-bottom: .4em;
			line-height: 1em;
		}
	}
}

.backside {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	-webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	-moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
		border-radius: 5px;
    transform: rotate(180deg);
		svg {
			position: relative;
			display: block;
			width: calc(175% + 1.3px);
			height: 100px;
		}
	}
	.card{
		background: rgba(143, 143, 143, 0.125);
		padding: 0 1rem;
	}
	.titulo{
		text-transform: uppercase;
		font-weight: 500;
	}
	.titulo-big{
		padding: 20px;
		color: white;
		font-size: 1.2rem;
	}
	.nombre {
		font-weight: bold;
		font-size: .8em;
		font-weight: 300;
		text-align: center;
	}
	
	p {
		margin-top: 20px;
		margin-bottom: .4em;
		line-height: 1em;
	}
	.card-body{
		display: flex;
		//flex: 1 1 auto;
		//padding: 0;
		flex-direction: column;
		justify-content: space-between;
		margin-top: 4rem;
	}
	.rrhh{
		p{
			color: #87d8d2;
		}
		i {
			background: #87d8d2;
		}
	}
	.market{
		color: #f8b133;
		i {
			background: #f8b133;
		}
	}
	.admin{
		p{
			color: #246351;
		}
		i {
			background: #246351;
		}
	}
	.comercial{
		p{
			color: #5900b1;
		}
		i {
			background: #5900b1;
		}
	}
	.planificacion{
		p{
			color: rgba(211,110,53,1) ;
		}
		i {
			background: rgba(211,110,53,1);
		}
	}
}

.frontside,
.backside {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: 1s;
	-webkit-transform-style: preserve-3d;
	-moz-transition: 1s;
	-moz-transform-style: preserve-3d;
	-o-transition: 1s;
	-o-transform-style: preserve-3d;
	-ms-transition: 1s;
	-ms-transform-style: preserve-3d;
	transition: 1s;
	transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
	height: 100%;
}

/* .backside .card a {
	font-size: 18px;
	color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
	color: #007b5e !important;
} */


.head {
	width: 20%;
	margin: 5px auto;
	img {
		align-self: center;
		width: auto;
		//height: auto;
	}
	.inner {
		position: relative;
		width: 100%;
		text-align: center;
	}
	.contenido {
		width: 100%;
		text-align: center; 
		.nombre {
			color: black;
			font-size: 15px;
			font-weight: 500;
		}
		.cargo {
			font-size: .8em;
		}
		p {
			margin-bottom: .4em;
			line-height: 1em;
			margin-top: 10px;
		}
	}
}
.evenly{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.persona, .personas {
	width: 15%;
	// margin: 0 auto;
	img {
		align-self: center;
		width: 100%;
		height: auto;
	}
	.inner {
		position: relative;
	}
	.contenido {
		text-align: center;	
		.nombre {
			color: black;
			font-size: .8em;
			font-weight: 500;
		}
		.cargo {
			font-size: .8em;
		}
		p {
			margin-top: 0px;
			margin-bottom: .4em;
			line-height: 1em;
		}
	}
}

.personas{
	//width: 90%;
	margin: 0 auto;
	.backside{
		.card-body{
			margin-top: 0;
		}
	}
}

.persona{
	.inner-image{
		&:hover{
			filter:drop-shadow(-8px 2px 20px rgb(135, 135, 135));
		}
	}
}

.market{
	h4,p,a {
	color:$market;
	}
	i{background:$market;}
}
.comerciales{
	h4,p,a {
	color:$comercio;
	}
	i{background:$comercio;}
}
.asistencia{
	h4,p,a {
	color:#29235c;
	}
	i{background:#29235c;}
}
.soporte{
	h4,p,a {
	color:#e0a600;
	}
	i{background:#e0a600;}
}
i {
	color: white;
	padding: 7px;
	border-radius: 50%;
}
.card-body{
	padding: 1rem 0;
}
.quienes-intro {
	background: linear-gradient(90deg, rgb(83, 146, 209) 50%, rgb(44, 42, 93) 100%);
	height: 20vh;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
}

/* animation shadow-drop-center */
@-webkit-keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

/* animation flip-vertical-right */
 @-webkit-keyframes flip-vertical-right {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
@keyframes flip-vertical-right {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}

/**
 * ----------------------------------------
 * animation fade-in-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

/* Mobile Design */

@include mobile-xs {
	.head{
		width: auto;
	}
	.persona {
		width: 30% !important;
		padding: 0px 5px;
	}
	.list-inline-item{
		margin-right: auto !important;
	}
	.personas {
		width: 30%;
	}
	.persona, .personas{
		img{
			width:80%;
		}
	}
	#trabajo {
		text-align: left;
	}
	textarea {
		width: 90% !important;
	}
	.w-30 {
		width: 90% !important;
	}
	.w-60 {
		width: 90% !important;
	}
}

@include mobile {
	.head{
		width: auto;
	}
	.persona {
		width: 30% !important;
		padding: 0px 5px;
	}
	.list-inline-item{
		margin-right: auto !important;
	}
	.personas {
		width: 30%;
	}
	.persona, .personas{
		img{
			width:80%;
		}
	}
	#trabajo {
		text-align: left;
	}
	textarea {
		width: 90% !important;
	}
	.w-30 {
		width: 90% !important;
	}
	.w-60 {
		width: 90% !important;
	}
}
