// Organigrama

.titulo-org {
	padding: 10px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;
	color: white;
}

.tituloasis {
	position: relative;
	&::before{
		@include reflejo;
	}
	&::after{
		content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    width: 0;
    height: 0;
    border-top: solid 15px $asistencias;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
	}
	&:hover{
		-webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	  animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	}
	.asistencias {
		background: $asistencia;
		@include titles;
	}
}
.titulomarket {
	position: relative;
	&::before{
		@include reflejo;
	}
	&::after{
		content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    width: 0;
    height: 0;
    border-top: solid 15px $market;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
	}
	&:hover{
		-webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	  animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	}
	.marketing {
		background: $marketing;
		@include titles;
	}
}
.market{
	h4,p,a{
	color:$market;
	}
}
.comerciales{
	h4,p,a{
	color:$comercio;
	}
}

.titulorrhh {
	position: relative;
	&::before{
		@include reflejo;
	}
	&::after{
		content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    width: 0;
    height: 0;
    border-top: solid 15px $recursos;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
	}
	&:hover{
		-webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	  animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	}
	.rrhh {
		background: $rrhh;
		@include titles;
	}
}
.titulocomer {
	position: relative;
	&::before{
		@include reflejo;
	}
	&::after{
		content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    width: 0;
    height: 0;
    border-top: solid 15px $comercio;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
	}
	&:hover{
		-webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	  animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	}
	.comerciales {
		background: $comerciales;
		@include titles;
	}
}
.subtitlecomer{
	margin-top: 15px;
	&::after {
		@include borderSubtitle;
		border-bottom: 2px solid $comercio;
	}
	.left{
		position: relative;
		&::before{
			@include reflejo;
		}
		background: $comerciales;
		@include subtitles;
	}
	.right{
		position: relative;
		&::before{
			@include reflejo;
		}
		background: $comerciales;
		@include subtitles;
		margin: 0;
	}
}
.tituloadmin {
	position: relative;
	&::before{
		@include reflejo;
	}
	&::after{
		content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    width: 0;
    height: 0;
    border-top: solid 15px $admin;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
	}
	&:hover{
		-webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	  animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	}
	.administracion {
		background: $administracion;
		@include titles;
	}
}
.titulosoporte {
	position: relative;
	&::before{
		@include reflejo;
	}
	&::after{
		content:'';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -15px;
    width: 0;
    height: 0;
    border-top: solid 15px $web;
    border-left: solid 15px transparent;
    border-right: solid 15px transparent;
	}
	&:hover{
		-webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	  animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	}
	.soporte {
		background: $soporte;
		@include titles;
	}
}

.head {
	//width: 17%;
	margin: 5px auto;
	img {
		align-self: center;
		width: auto;
		//height: auto;
	}
	.inner {
		position: relative;
		width: 100%;
	}
	.contenido {
		width: 100%;
		text-align: center; 
		.nombre {
			color: black;
			font-size: 15px;
			font-weight: 500;
		}
		.cargo {
			font-size: .8em;
		}
		p {
			margin-bottom: .4em;
			line-height: 1em;
			margin-top: 10px;
		}
	}
}
.evenly{
	display: flex;
	justify-content: space-evenly;
}
.persona, .personas {
	width: 12.5%;
	// margin: 0 auto;
	img {
		align-self: center;
		width: 100%;
		height: auto;
		&:hover{
			-webkit-animation: flip-vertical-right 0.5s cubic-bezier(0.600, 0.040, 0.980, 0.335) ;
	    animation: flip-vertical-right 0.5s cubic-bezier(0.600, 0.040, 0.980, 0.335) ;
			//-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	    //animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
		}
	}
	.inner {
		position: relative;
	}

	.contenido {
		text-align: center;	
		.nombre {
			color: black;
			font-size: .8em;
			font-weight: 500;
		}
		.cargo {
			font-size: .8em;
		}
		p {
			margin-top: 0px;
			margin-bottom: .4em;
			line-height: 1em;
		}
	}
}
.personas{
	width: 75%;
}

.quienes-intro {
	background: linear-gradient(90deg, rgb(83, 146, 209) 50%, rgb(44, 42, 93) 100%);
	height: 20vh;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(0, -50%);
}

@include mobile-xs {
	.persona {
		width: 50% !important;
	}
	#trabajo {
		text-align: left;
	}
	textarea {
		width: 90% !important;
	}
	.w-30 {
		width: 90% !important;
	}
	.w-60 {
		width: 90% !important;
	}
}

@include mobile {
	.persona {
		width: 50% !important;
	}
	#trabajo {
		text-align: left;
	}
	textarea {
		width: 90% !important;
	}
	.w-30 {
		width: 90% !important;
	}
	.w-60 {
		width: 90% !important;
	}
}

.card {
	border: none;
	background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	transform: rotateY(0deg);
	border-radius: .25rem;
	height: 100%;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.mainflip {
	-webkit-transition: 1s;
	-webkit-transform-style: preserve-3d;
	-ms-transition: 1s;
	-moz-transition: 1s;
	transform: perspective(1000px);
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transition: 1s;
	transform-style: preserve-3d;
	position: relative;
}

.frontside {
	position: relative;
	transform: rotateY(0deg);
	//-ms-transform: rotateY(0deg);
	z-index: 2;
	//margin-bottom: 30px;
	.contenido {
		text-align: center;
		.nombre {
			color: black;
			font-size: .8em;
			font-weight: 500;
		}
		.cargo {
			font-size: .8em;
		}
		p {
			margin-top: 0px;
			margin-bottom: .4em;
			line-height: 1em;
		}
	}
}

.backside {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	-webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	-moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
	.card{
		background: rgba(143, 143, 143, 0.125);
		background-image: url(/images/naranja-top.webp);
		background-repeat: no-repeat;
	}
	.titulo{
		text-transform: uppercase;
		font-weight: 500;
	}
	.nombre {
		color: #f8b133;
		font-size: .8em;
		font-weight: 300;
		text-align: left;
	}
	i {
		background: #f8b133;
		color: white;
		padding: 7px;
		border-radius: 50%;
	}
	p {
		margin-top: 20px;
		margin-bottom: .4em;
		line-height: 1em;
	}
	.card-body{
		display: flex;
		flex-direction: column;
		justify-content: end;
	}
}

.frontside,
.backside {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: 1s;
	-webkit-transform-style: preserve-3d;
	-moz-transition: 1s;
	-moz-transform-style: preserve-3d;
	-o-transition: 1s;
	-o-transform-style: preserve-3d;
	-ms-transition: 1s;
	-ms-transform-style: preserve-3d;
	transition: 1s;
	transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
	height: 100%;
}

/* .backside .card a {
	font-size: 18px;
	color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
	color: #007b5e !important;
} */

/* animation shadow-drop-center */
 @-webkit-keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

/* animation flip-vertical-right */
 @-webkit-keyframes flip-vertical-right {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
@keyframes flip-vertical-right {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
}
