.social-box {
	position: fixed;
	top: 180px;
	left: 10px;
	padding: 5px 10px;
	width: auto;
	z-index: 99;
	background: $social-bg;
	border-radius: 5px;

	&:hover {
		transform: scale(1.8);
		transition: all .2s linear;
		left: 40px;
	}

	li:hover {
		transform: scale(1.5);
		transition: all .3s linear;
		overflow: hidden;

		i {
			color: $primary-color;
		}
	}
	ul {
		margin: 0;
	}
}

.text-cyan {
	color: #fff; //rgba(81, 116, 184, 1) !important;
}

.emisiones-box {
	opacity: 1;
	transition: opacity 0.5s ease;
	position: fixed;
	bottom: 10px;
	right: 10px;
	background: linear-gradient(
		90deg,
		rgba(16, 174, 190, .5) 0%,
		rgba(16, 174, 190, .6) 25%,
		rgba(81, 116, 184, .5) 100%
	);
	padding: 10px;
	border-radius: 10px;
	z-index: 99999999999;
	width: auto;
	text-align: center;
	color: white;

	.btn-avril {
		padding: 6px;
		margin: 5px;
		background: white;
		color: $primary-color;

		&:hover {
			color: white;
			background: none;
			border: 1px solid white;
			border-radius: 3px;
		}
	}
}

.emisiones-hide {
	opacity: 0;
	pointer-events: none;
}

@mixin large-desktop {
	.social-box {
		left: 30px;
	}
}

.w-90{
	max-width: 1440px;
	margin: 0 auto;
}
.rrss-right{
	width: 50%;
	img{width: 100%;}
}

.rrss-left{
	width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-evenly;
	h2{font-size: 2.625em;color: $grey-color;}
	h3{font-size: 1.875em;color: $grey-color;}
	.rrss{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		i{
			color: #fff;
		}
		.btn-rrss{
			background: $primary-color;
			padding: 10px;
			border-radius: 8px;
			margin: 10px 0;
			a{
				color: #fff;
				font-weight: 500;
				font-size: 16px;
				text-transform: none;
			}
		}
	}
}
.protect{
  width: 90%;
	margin: 0 auto;
}
.card{
		// display: flex;
	border-radius: 25px !important;
	border: none !important;
	background: #f2f2f2;
	max-width: 75%;
	margin: 0 auto;
}
.card-img-top{
	width: 60px;
	position: absolute;
	top: -10px;
	left: 50%;
	transform: translate(-50%, -10px);
}
.card-body{
	padding: 2rem 0;
	i{
		color: $purple !important;
	}
}
.card-title{
	text-transform: uppercase;
	font-weight: 400;
	font-size: 14px;
	color: white;
	background: $asistencia;
	border-radius: 25px;
	text-align: center;
}
.card-text{
	color: rgb(43, 46, 58) !important;
	padding: 0 20px;
}
.card-footer{
	background: $asistencia;
	height: 20px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	border: none;
	border-radius: 0px 0px 10px 10px !important;
}
@include mobile-xs {
	.rrss-left{
		width: 100%;
		.rrss{
			display: flex;
			justify-content: space-around;
			margin: 0 auto;
			.btn-rrss a{
				font-size: 13px;
			}
		}
	}
	.rrss-right{
		width: 100%;
		img{width: 95%;}
	}
}

@include mobile {
	.rrss-left{
		width: 100%;
		.rrss{
			display: flex;
			justify-content: space-around;
			margin: 0 auto;
			.btn-rrss a{
				font-size: 13px;
			}
		}
	}
	.rrss-right{
		width: 100%;
		img{width: 95%;}
	}
}
